.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.edit {
  margin-left: 3%;

}

.start {
  margin: 10%;
}

.input {
  margin-right: 5%;
}

.radioBtn {
  margin-right: 2%;
  text-align: center;

  
}

.radioTown {
  margin: auto;
  height: normal;
  margin: 3%;
}

header {
  margin-bottom: 2%;
}

h5 {
  display: inline-block;
  margin-right: 2%;
}
